body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  display: block;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial,Helvetica, sans-serif;
}

@font-face {
  font-family: "GothamPro-Black";
  src: url("./images/GothamPro.3100f91b.ttf") format("ttf");
}

#root {
	max-width: 850px;
}

.dot {
	content: '';
	height: 6px;
	width: 6px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 0 4px;
}

.adaptation__date {
	/*color: rgba(0, 0, 0, 0.45);
    font-size: 13px;
    line-height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    padding: 2px 4px;
    border-radius: 6px;*/

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    display: inline-block;
    height: auto;
    margin-right: 8px;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: default;
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.ant-card-head-title {
  display: inline-block;
  padding-right: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4;
}

.ant-card-head{
  background-color: #f9fafb;
}

.ant-page-header {
  padding: 16px 0;
}

.clearfix::after { 
  content: '';
  clear: both; 
  display: block;
 }